.banner {
  background-image: linear-gradient(to bottom, $color3, $color2);
  height: $banner--heigth;
}

.banner__img-height {
  background-image: url("../media/funkos-banner.webp");
  background-position: 100% 80%;
  background-size: 100%;
  //background-attachment: fixed;
  height: $banner--heigth;
}

.banner__info {
  color: $color2;
  backdrop-filter: blur(3px);
  height: 100%;
  padding: 5%;

  & button {
    box-shadow: 5px 10px 10px $shadow-color;
    width: 50%;
    font-weight: bolder;
    text-shadow: 1px 1px 10px $shadow-color;
  }
  & h2 {
    font-weight: bolder;
    text-shadow: 3px 3px 5px $shadow-color;
  }
  &p {
    text-shadow: 2px 2px 3px $shadow-color;
  }
}
