.banner {
  background-image: linear-gradient(to bottom, $color3, $color2);
  height: $banner--heigth;
}

.banner__img-height {
  background-image: url("../media/funkos-banner.webp");
  background-position: 100% 80%;
  background-size: 100%;
  height: $banner--heigth;
}

.banner__info {
  filter: none;
  color: $color2;
  backdrop-filter: blur(3px);
  height: 100%;
  padding: 5%;
}
